/* Defines colors */
:root {
	/* Defines red */
	--sd-red-50: #1f0000;
	--sd-red-100: #2c0505;
	--sd-red-150: #3a0a0a;
	--sd-red-200: #480f0f;
	--sd-red-250: #561515;
	--sd-red-300: #641a1a;
	--sd-red-350: #721f1f;
	--sd-red-400: #802424;
	--sd-red-450: #8d2a2a;
	--sd-red-500: #9b2f2f;
	--sd-red-550: #a93434;
	--sd-red-600: #b73939;
	--sd-red-650: #c53f3f;
	--sd-red-700: #d34444;
	--sd-red-750: #e14949;
	--sd-red-800: #ef4f4f;
	--sd-red-850: #ef6f6f;
	--sd-red-900: #ef8f8f;
	--sd-red-950: #efafaf;
	--sd-red-1000: #efcfcf;
	--sd-red: #ef4f4f;

	/* Defines coral */
	--sd-coral-50: #1f0700;
	--sd-coral-100: #2c0d05;
	--sd-coral-150: #3a140a;
	--sd-coral-200: #481b0f;
	--sd-coral-250: #562215;
	--sd-coral-300: #64291a;
	--sd-coral-350: #72301f;
	--sd-coral-400: #803724;
	--sd-coral-450: #8d3e2a;
	--sd-coral-500: #9b452f;
	--sd-coral-550: #a94c34;
	--sd-coral-600: #b75339;
	--sd-coral-650: #c55a3f;
	--sd-coral-700: #d36144;
	--sd-coral-750: #e16849;
	--sd-coral-800: #ef6f4f;
	--sd-coral-850: #ef876b;
	--sd-coral-900: #ef9f87;
	--sd-coral-950: #efb7a3;
	--sd-coral-1000: #efcfbf;
	--sd-coral: #ef6f4f;

	/* Defines orange */
	--sd-orange-50: #1f0f00;
	--sd-orange-100: #2c1705;
	--sd-orange-150: #3a200a;
	--sd-orange-200: #48280f;
	--sd-orange-250: #563115;
	--sd-orange-300: #64391a;
	--sd-orange-350: #72421f;
	--sd-orange-400: #804a24;
	--sd-orange-450: #8d532a;
	--sd-orange-500: #9b5b2f;
	--sd-orange-550: #a96434;
	--sd-orange-600: #b76c39;
	--sd-orange-650: #c5753f;
	--sd-orange-700: #d37d44;
	--sd-orange-750: #e18649;
	--sd-orange-800: #ef8f4f;
	--sd-orange-850: #ef9f67;
	--sd-orange-900: #efaf7f;
	--sd-orange-950: #efbf97;
	--sd-orange-1000: #efcfaf;
	--sd-orange: #ef8f4f;

	/* Defines amber */
	--sd-amber-50: #1f1700;
	--sd-amber-100: #2c2105;
	--sd-amber-150: #3a2b0a;
	--sd-amber-200: #48350f;
	--sd-amber-250: #563f15;
	--sd-amber-300: #64491a;
	--sd-amber-350: #72531f;
	--sd-amber-400: #805d24;
	--sd-amber-450: #8d682a;
	--sd-amber-500: #9b722f;
	--sd-amber-550: #a97c34;
	--sd-amber-600: #b78639;
	--sd-amber-650: #c5903f;
	--sd-amber-700: #d39a44;
	--sd-amber-750: #e1a449;
	--sd-amber-800: #efaf4f;
	--sd-amber-850: #efbb6b;
	--sd-amber-900: #efc787;
	--sd-amber-950: #efd3a3;
	--sd-amber-1000: #efdfbf;
	--sd-amber: #efaf4f;

	/* Defines yellow */
	--sd-yellow-50: #1f1f00;
	--sd-yellow-100: #2c2c05;
	--sd-yellow-150: #3a3a0a;
	--sd-yellow-200: #48480f;
	--sd-yellow-250: #565615;
	--sd-yellow-300: #64641a;
	--sd-yellow-350: #72721f;
	--sd-yellow-400: #808024;
	--sd-yellow-450: #8d8d2a;
	--sd-yellow-500: #9b9b2f;
	--sd-yellow-550: #a9a934;
	--sd-yellow-600: #b7b739;
	--sd-yellow-650: #c5c53f;
	--sd-yellow-700: #d3d344;
	--sd-yellow-750: #e1e149;
	--sd-yellow-800: #efef4f;
	--sd-yellow-850: #efef6f;
	--sd-yellow-900: #efef8f;
	--sd-yellow-950: #efefaf;
	--sd-yellow-1000: #efefcf;
	--sd-yellow: #efef4f;

	/* Defines lime */
	--sd-lime-50: #0f1f00;
	--sd-lime-100: #192c05;
	--sd-lime-150: #243a0a;
	--sd-lime-200: #2f480f;
	--sd-lime-250: #395615;
	--sd-lime-300: #44641a;
	--sd-lime-350: #4f721f;
	--sd-lime-400: #598024;
	--sd-lime-450: #648d2a;
	--sd-lime-500: #6f9b2f;
	--sd-lime-550: #79a934;
	--sd-lime-600: #84b739;
	--sd-lime-650: #8fc53f;
	--sd-lime-700: #99d344;
	--sd-lime-750: #a4e149;
	--sd-lime-800: #afef4f;
	--sd-lime-850: #bbef6f;
	--sd-lime-900: #c7ef8f;
	--sd-lime-950: #d3efaf;
	--sd-lime-1000: #dfefcf;
	--sd-lime: #afef4f;

	/* Defines green */
	--sd-green-50: #001f00;
	--sd-green-100: #052c05;
	--sd-green-150: #0a3a0a;
	--sd-green-200: #0f480f;
	--sd-green-250: #155615;
	--sd-green-300: #1a641a;
	--sd-green-350: #1f721f;
	--sd-green-400: #248024;
	--sd-green-450: #2a8d2a;
	--sd-green-500: #2f9b2f;
	--sd-green-550: #34a934;
	--sd-green-600: #39b739;
	--sd-green-650: #3fc53f;
	--sd-green-700: #44d344;
	--sd-green-750: #49e149;
	--sd-green-800: #4fef4f;
	--sd-green-850: #6fef6f;
	--sd-green-900: #8fef8f;
	--sd-green-950: #afefaf;
	--sd-green-1000: #cfefcf;
	--sd-green: #4fef4f;

	/* Defines teal */
	--sd-teal-50: #001f0f;
	--sd-teal-100: #052c19;
	--sd-teal-150: #0a3a24;
	--sd-teal-200: #0f482f;
	--sd-teal-250: #155639;
	--sd-teal-300: #1a6444;
	--sd-teal-350: #1f724f;
	--sd-teal-400: #248059;
	--sd-teal-450: #2a8d64;
	--sd-teal-500: #2f9b6f;
	--sd-teal-550: #34a979;
	--sd-teal-600: #39b784;
	--sd-teal-650: #3fc58f;
	--sd-teal-700: #44d399;
	--sd-teal-750: #49e1a4;
	--sd-teal-800: #4fefaf;
	--sd-teal-850: #6fefbb;
	--sd-teal-900: #8fefc7;
	--sd-teal-950: #afefd3;
	--sd-teal-1000: #cfefdf;
	--sd-teal: #4fefaf;

	/* Defines cyan */
	--sd-cyan-50: #0f1f1f;
	--sd-cyan-100: #132c2c;
	--sd-cyan-150: #173a3a;
	--sd-cyan-200: #1b4848;
	--sd-cyan-250: #205656;
	--sd-cyan-300: #246464;
	--sd-cyan-350: #287272;
	--sd-cyan-400: #2c8080;
	--sd-cyan-450: #318d8d;
	--sd-cyan-500: #359b9b;
	--sd-cyan-550: #39a9a9;
	--sd-cyan-600: #3db7b7;
	--sd-cyan-650: #42c5c5;
	--sd-cyan-700: #46d3d3;
	--sd-cyan-750: #4ae1e1;
	--sd-cyan-800: #4fefef;
	--sd-cyan-850: #6fefef;
	--sd-cyan-900: #8fefef;
	--sd-cyan-950: #afefef;
	--sd-cyan-1000: #cfefef;
	--sd-cyan: #4fefef;

	/* Defines blue */
	--sd-blue-50: #000f1f;
	--sd-blue-100: #01172c;
	--sd-blue-150: #02203a;
	--sd-blue-200: #032848;
	--sd-blue-250: #043156;
	--sd-blue-300: #053964;
	--sd-blue-350: #064272;
	--sd-blue-400: #074a80;
	--sd-blue-450: #08538d;
	--sd-blue-500: #095b9b;
	--sd-blue-550: #0a64a9;
	--sd-blue-600: #0b6cb7;
	--sd-blue-650: #0c75c5;
	--sd-blue-700: #0d7dd3;
	--sd-blue-750: #0e86e1;
	--sd-blue-800: #0f8fef;
	--sd-blue-850: #379fef;
	--sd-blue-900: #5fafef;
	--sd-blue-950: #87bfef;
	--sd-blue-1000: #afcfef;
	--sd-blue: #0f8fef;

	/* Defines indigo */
	--sd-indigo-50: #00001f;
	--sd-indigo-100: #05052c;
	--sd-indigo-150: #0a0a3a;
	--sd-indigo-200: #0f0f48;
	--sd-indigo-250: #151556;
	--sd-indigo-300: #1a1a64;
	--sd-indigo-350: #1f1f72;
	--sd-indigo-400: #242480;
	--sd-indigo-450: #2a2a8d;
	--sd-indigo-500: #2f2f9b;
	--sd-indigo-550: #3434a9;
	--sd-indigo-600: #3939b7;
	--sd-indigo-650: #3f3fc5;
	--sd-indigo-700: #4444d3;
	--sd-indigo-750: #4949e1;
	--sd-indigo-800: #4f4fef;
	--sd-indigo-850: #6f6fef;
	--sd-indigo-900: #8f8fef;
	--sd-indigo-950: #afafef;
	--sd-indigo-1000: #cfcfef;
	--sd-indigo: #4f4fef;

	/* Defines violet */
	--sd-violet-50: #0f071f;
	--sd-violet-100: #150b28;
	--sd-violet-150: #1b1032;
	--sd-violet-200: #22153b;
	--sd-violet-250: #281a45;
	--sd-violet-300: #2f1f4f;
	--sd-violet-350: #352358;
	--sd-violet-400: #3b2862;
	--sd-violet-450: #422d6b;
	--sd-violet-500: #483275;
	--sd-violet-550: #4f377f;
	--sd-violet-600: #553b88;
	--sd-violet-650: #5b4092;
	--sd-violet-700: #62459b;
	--sd-violet-750: #684aa5;
	--sd-violet-800: #6f4faf;
	--sd-violet-850: #8b6fbf;
	--sd-violet-900: #a78fcf;
	--sd-violet-950: #c3afdf;
	--sd-violet-1000: #dfcfef;
	--sd-violet: #6f4faf;

	/* Defines purple */
	--sd-purple-50: #1f0f1f;
	--sd-purple-100: #261326;
	--sd-purple-150: #2d172d;
	--sd-purple-200: #351b35;
	--sd-purple-250: #3c203c;
	--sd-purple-300: #442444;
	--sd-purple-350: #4b284b;
	--sd-purple-400: #532c53;
	--sd-purple-450: #5a315a;
	--sd-purple-500: #623562;
	--sd-purple-550: #693969;
	--sd-purple-600: #713d71;
	--sd-purple-650: #784278;
	--sd-purple-700: #804680;
	--sd-purple-750: #874a87;
	--sd-purple-800: #8f4f8f;
	--sd-purple-850: #a76fa7;
	--sd-purple-900: #bf8fbf;
	--sd-purple-950: #d7afd7;
	--sd-purple-1000: #efcfef;
	--sd-purple: #8f4f8f;

	/* Defines grape */
	--sd-grape-50: #1f0717;
	--sd-grape-100: #280921;
	--sd-grape-150: #320c2b;
	--sd-grape-200: #3b0f35;
	--sd-grape-250: #45113f;
	--sd-grape-300: #4f1449;
	--sd-grape-350: #581753;
	--sd-grape-400: #62195d;
	--sd-grape-450: #6b1c68;
	--sd-grape-500: #751f72;
	--sd-grape-550: #7f217c;
	--sd-grape-600: #882486;
	--sd-grape-650: #922790;
	--sd-grape-700: #9b299a;
	--sd-grape-750: #a52ca4;
	--sd-grape-800: #af2faf;
	--sd-grape-850: #bf53bb;
	--sd-grape-900: #cf77c7;
	--sd-grape-950: #df9bd3;
	--sd-grape-1000: #efbfdf;
	--sd-grape: #af2faf;

	/* Defines magenta */
	--sd-magenta-50: #1f000f;
	--sd-magenta-100: #2c011a;
	--sd-magenta-150: #3a0226;
	--sd-magenta-200: #480332;
	--sd-magenta-250: #56043d;
	--sd-magenta-300: #640549;
	--sd-magenta-350: #720655;
	--sd-magenta-400: #800761;
	--sd-magenta-450: #8d086c;
	--sd-magenta-500: #9b0978;
	--sd-magenta-550: #a90a84;
	--sd-magenta-600: #b70b90;
	--sd-magenta-650: #c50c9b;
	--sd-magenta-700: #d30da7;
	--sd-magenta-750: #e10eb3;
	--sd-magenta-800: #ef0fbf;
	--sd-magenta-850: #ef37c3;
	--sd-magenta-900: #ef5fc7;
	--sd-magenta-950: #ef87cb;
	--sd-magenta-1000: #efafcf;
	--sd-magenta: #ef0fbf;

	/* Defines fuchsia */
	--sd-fuchsia-50: #1f030f;
	--sd-fuchsia-100: #2c081a;
	--sd-fuchsia-150: #3a0d26;
	--sd-fuchsia-200: #481232;
	--sd-fuchsia-250: #56173d;
	--sd-fuchsia-300: #641c49;
	--sd-fuchsia-350: #722155;
	--sd-fuchsia-400: #802661;
	--sd-fuchsia-450: #8d2b6c;
	--sd-fuchsia-500: #9b3078;
	--sd-fuchsia-550: #a93584;
	--sd-fuchsia-600: #b73a90;
	--sd-fuchsia-650: #c53f9b;
	--sd-fuchsia-700: #d344a7;
	--sd-fuchsia-750: #e149b3;
	--sd-fuchsia-800: #ef4fbf;
	--sd-fuchsia-850: #ef6bc1;
	--sd-fuchsia-900: #ef87c3;
	--sd-fuchsia-950: #efa3c5;
	--sd-fuchsia-1000: #efbfc7;
	--sd-fuchsia: #ef4fbf;

	/* Defines pink */
	--sd-pink-50: #1f070f;
	--sd-pink-100: #2c101a;
	--sd-pink-150: #3a1926;
	--sd-pink-200: #482232;
	--sd-pink-250: #562b3d;
	--sd-pink-300: #643449;
	--sd-pink-350: #723d55;
	--sd-pink-400: #804661;
	--sd-pink-450: #8d4f6c;
	--sd-pink-500: #9b5878;
	--sd-pink-550: #a96184;
	--sd-pink-600: #b76a90;
	--sd-pink-650: #c5739b;
	--sd-pink-700: #d37ca7;
	--sd-pink-750: #e185b3;
	--sd-pink-800: #ef8fbf;
	--sd-pink-850: #ef9fc7;
	--sd-pink-900: #efafcf;
	--sd-pink-950: #efbfd7;
	--sd-pink-1000: #efcfdf;
	--sd-pink: #ef8fbf;

	/* Defines mono */
	--sd-mono-50: #0f0f0f;
	--sd-mono-100: #161616;
	--sd-mono-150: #1d1d1d;
	--sd-mono-200: #252525;
	--sd-mono-250: #2c2c2c;
	--sd-mono-300: #343434;
	--sd-mono-350: #3b3b3b;
	--sd-mono-400: #434343;
	--sd-mono-450: #4a4a4a;
	--sd-mono-500: #525252;
	--sd-mono-550: #595959;
	--sd-mono-600: #616161;
	--sd-mono-650: #686868;
	--sd-mono-700: #707070;
	--sd-mono-750: #777777;
	--sd-mono-800: #7f7f7f;
	--sd-mono-850: #9b9b9b;
	--sd-mono-900: #b7b7b7;
	--sd-mono-950: #d3d3d3;
	--sd-mono-1000: #efefef;
	--sd-mono: #7f7f7f;
}